{{> assets/header}}
{{> assets/body-start}}

	<div class="view-login">
		<form class="pure-form pure-form-stacked" method="post" action="/j_security_check">

			<fieldset>
				<legend>Por favor, identifique-se:</legend>
				<input type="text" name="j_username" placeholder="Username" />
				<input type="password" name="j_password" placeholder="Password" />
				<input type="submit" class="pure-button pure-button-primary" value="Login" />
			</fieldset>

			<p>Não possui uma conta?
				<a href="/auth/user-new.do">Crie uma</a> agora mesmo!</p>
		</form>
	</div>

{{> assets/body-end}}