	</head>
	<body>
		<div class="theme-header">
			<div class="theme-container">
				<h2 class="theme-logo"><span class="highlight">skul</span>labs.<span class="highlight">io</span></h2>
				<a class="pure-button pure-button-primary" href="/presentation/new/">New presentation</a>
			</div>
		</div>
		
