{{> assets/header}}
{{> assets/scripts}}
	<script type="text/javascript" src="/assets/socket.js" ></script>
	<script type="text/javascript" src="/presentation/upload-form.jss?id={{identifier}}&processing={{processing}}" ></script>
	<link rel="stylesheet" href="/presentation/upload-form.css" />
{{> assets/body-start}}

	<form class="pure-form pure-form-stacked upload-form"
		  action="/presentation/new/" method="post"
		  enctype="multipart/form-data">
		<fieldset>
			<legend>New presentation</legend>
			<input type="text" name="title" placeholder="Presentation Title" />
			<input type="file" name="filename" placeholder="Presentation File" accept=".pdf" />
			<input type="submit" class="pure-button pure-button-primary" value="Submit" />
		</fieldset>
	</form>

	<div class="detailed-view">
		<h2>{{title}}</h2>
		<img class="loading-bar" src="/assets/progress_bar.gif" />
		<ul class="slides">
			{{#slides}}
			<li><img src="/images/{{identifier}}/{{.}}.png" /></li>
			{{/slides}}
		</ul>
	</div>

{{> assets/body-end}}